//-----------------------MAIN
$wrapper-width = 720px
$wrapper-padding = 10px
$base-font-size = 16px
$base-line-height = normal

//-----------------------COLORS
$color-main = #cb1f1d
$body-bg = linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0) 52%);

//----------------------FONTS
$color-font = #222
$color-footer = #fff
$base-font-family = roboto, Arial, sans-serif

//----------------------@MEDIA
rupture.scale = 0 460px 768px ($wrapper-width + $wrapper-padding * 2)
rupture.scale-names = 'z' 'm' 't' 'l'
rupture.enable-em-breakpoints = false
rupture.anti-overlap = false
rupture.base-font-size = $base-font-size

