mixin favicon()
    link(rel="apple-touch-icon" sizes="180x180" href=require("../static/images/favicon/apple-touch-icon.png").default)
    link(rel="icon" type="image/png" sizes="32x32" href=require("../static/images/favicon/favicon-32x32.png").default)
    link(rel="icon" type="image/png" sizes="16x16" href=require("../static/images/favicon/favicon-16x16.png").default)
    link(rel="manifest" href=require("../static/images/favicon/site.webmanifest").default)
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
